{% extends 'tree/base.html' %}
{% load static %}

{% block content %}
<div id="app">
    <div id="login-wrapper" class="ui main text container inverted center-wrapper">     
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>접근 권한이 없습니다. <a href="{% url 'tree_index' %}">돌아가기</a></p>
            {% else %}
                <p>접근 권한이 없습니다. <a href="{% url 'login' %}">로그인</a></p>
            {% endif %}
        {% endif %}

        <form id="login-form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.password.label_tag }}
            {{ form.password }}

            <input type="submit" value="login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">비밀번호를 잊으셨나요?</a></p>
        <p><a href="{% url 'signup' %}">회원가입</a></p>
        
    </div>
</div>

<link rel="stylesheet" type="text/css" href="{% static 'tree/css/login.css' %}">

<script type="text/javascript">
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            message: 'Vue.js test',
            testdata: {{ testdata | safe }},
        }
    });
</script>

<script type="text/javascript" src="{% static 'tree/js/bouncing.js' %}"></script>

{% endblock %}