{% extends 'tree/base.html' %}
{% load static %}

{% block content %}
<div id="app">
    <!--
        techtree index, inspired from https://codepen.io/dudleystorey/pen/NbNjjX
    -->
    <canvas id="index-canvas"></canvas>
    <div id="index-wrapper" class="ui main text container inverted center-wrapper">
        <table>
            <tr>
                <td style="padding-right: 3vw">
                    <h1 class="ui header right aligned huge inverted">Techtree</h1>
                    <h2 class="ui header right aligned inverted">KAIST course aliases &amp; techtree</h2>
                </td>
                <td>
                    <div class="ui search">
                        <div class="ui icon input">
                            <input class="prompt" type="text" placeholder="Search Aliases...">
                            <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="{% static 'tree/css/index.css' %}">

<script type="text/javascript">
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            message: 'Vue.js test',
            testdata: {{ testdata | safe }},
        }
    });
</script>

<!--
<script type="text/javascript" src="{% static 'tree/js/bouncing.js' %}"></script>
-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.5/components/search.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.5/components/search.min.css">

{% endblock %}